img {
    vertical-align: middle;
}

.Maps{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Maps iframe{
    border-radius: 10px;
    width: 90%;
    height: 40rem;
}
.box{
    border-radius: 10px;
    position: relative;
    background-color: #A8DDB4;
    width: 50%;
}
.address{
    
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.Contracticon{
    opacity: 0.9;
    border-radius: 10px;
    position: fixed;
    right: -0.5rem;
    bottom: 14rem;
    background-color: rgb(255, 255, 255);
    width: 4rem;
    height: 8rem;
}

.phone{
    position: fixed;
    right: 0.5rem;
    bottom: 15rem;
}
.line{
    position: fixed;
    right: 0.5rem;
    bottom: 18.5rem;
}

.scrollup.active {
    cursor: pointer;
    position: fixed;
    right: 1rem;
    bottom: 2rem;
    animation-name: example;
    animation-duration: 2s;
}
.el1{
    background-color: #F0EF6C; 
    margin-top:-1.4rem;
}
.textstyle{
    border-radius: 2rem; 
    text-align: center ;
    background-color: #A8DDB4;
}

@media screen and (max-width:400px) {
    .textstyle {
        font-size: 0.5rem;
        width: 8rem;
        margin-left: 1rem;
    }
}
@media screen and (min-width:400px) {
    .textstyle {
        font-size: 0.8rem;
        width: 9rem;
        margin-left: 1rem;
    }
}




/* The animation code */
@keyframes example {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes example2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}




