img {
    vertical-align: middle;
}

.contentmaps {
    position: relative;
    background-color: rgb(199, 199, 199);
    height: 100vh;
}

.contentmaps .el {
    position: absolute;
    top: 7rem;
    left: 12rem;
}

.contentmaps .el .text {
    font-size: 2rem;
}

.Maps {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Maps iframe {
    border-radius: 10px;
    width: 150vh;
    height: 60vh;
}

.Contracticon {
    opacity: 0.9;
    border-radius: 10px;
    position: fixed;
    right: -0.5rem;
    bottom: 14rem;
    background-color: rgb(255, 255, 255);
    width: 4rem;
    height: 8rem;
}

.phone {
    position: fixed;
    right: 0.5rem;
    bottom: 15rem;
}

.line {
    position: fixed;
    right: 0.5rem;
    bottom: 18.5rem;
}

.scrollup.active {
    cursor: pointer;
    position: fixed;
    right: 1rem;
    bottom: 2rem;
    animation-name: example;
    animation-duration: 2s;
}

.el1 {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgb(199, 199, 199);
    margin-top: -1.4rem;
}

.set1 {
    width: 50%;
    margin-left: 5rem;
    margin-top: 5rem;
}

.textinformation {
    position: absolute;
    right: 25rem;
    top: 6rem;
}

.textstyle h1 {
    top: 2.5rem;
    position: absolute;
    left: 5rem;
}






/* The animation code */
@keyframes example {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes example2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



@media only screen and (min-width:375px){
    .contentmaps {
        position: relative;
        background-color: rgb(199, 199, 199);
        height: 100vh;
    }

    .contentmaps .el {
        position: absolute;
        top: 0rem;
        left: 1rem;
    }

    .contentmaps .el .text {
        font-size: 1.5rem;
    }
    .Maps {
        position: absolute;
        left: 1.5rem;
        border-radius: 10px;
        width: 85%;
        height: inherit;
    }
    .Maps iframe {
        position: absolute;
        top: 2rem;
        left: -1rem;
        border-radius: 10px;
        width: 50vh;
        height: 40vh;
    }

    .set1 {
        width: 49%;
        margin-left: 1rem;
        margin-top: -1rem;
    }

    .textinformation {
        position: absolute;
        right: 0.5rem;
        top: 4rem;
    }

    .el1 {
        position: relative;
        margin: 0;
        height: 30vh;
    }

    .textstyle h1 {
        top: 2rem;
        position: absolute;
        left: 15rem;
    }

    .contentmaps {
        height: 70vh;
    }

}


@media only screen and (min-width:414px) {
    .contentmaps {
        position: relative;
        background-color: rgb(199, 199, 199);
        height: 100vh;
    }

    .contentmaps .el {
        position: absolute;
        top: 0rem;
        left: 1rem;
    }

    .contentmaps .el .text {
        font-size: 1.5rem;
    }
    .Maps {
        position: absolute;
        left: 1.5rem;
        border-radius: 10px;
        width: 85%;
        height: inherit;
    }
    .Maps iframe {
        position: absolute;
        top: 0rem;
        left: -1rem;
        border-radius: 10px;
        width: 40vh;
        height: 40vh;
    }

    .set1 {
        width: 49%;
        margin-left: 1rem;
        margin-top: -1rem;
    }

    .textinformation {
        position: absolute;
        right: 0.5rem;
        top: 4rem;
    }

    .el1 {
        position: relative;
        margin: 0;
        height: 30vh;
    }

    .textstyle h1 {
        top: 2rem;
        position: absolute;
        left: 15rem;
    }

    .contentmaps {
        height: 50vh;
    }


}